# Python
__pycache__/
*.pyc
*.pyo

# Iconos temporales generados en runtime
temp_mini.ico
temp_silk.ico
temp_radar.ico
*.ico

# Entornos virtuales
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
